<%- include('includes/head'); %>
    <%- include('includes/nav'); %>

        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>

                <div class="col-lg-8 my-3">
                    <h1 class="text-center">Criar conta ou Entrar</h1>
                    <p class="lead text-center">Faça o seu login ou crie sua conta!</p>

                    <%- include('includes/messages'); %>

                        <div class="row">
                            <div class="col-lg my-5">
                                <h4>Faça seu cadastro</h4>
                                <p>Se você ainda não tem uma conta, crie uma agora! 😉</p>
                                <form action="/login/register" method="post" class="form-cadastro">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Seu e-mail</label>
                                        <input type="email" class="form-control" name="email">
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label">Sua senha</label>
                                        <input type="password" class="form-control" name="password">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Criar minha conta</button>
                                </form>
                            </div>
                            <div class="col-lg my-5">
                                <h4>Faça seu login</h4>
                                <p>Se você ja tem uma conta, faça o seu login 😊</p>
                                <form action="/login/login" method="post" class="form-login">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Seu e-mail</label>
                                        <input type="email" class="form-control" name="email">
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label">Sua senha</label>
                                        <input type="password" class="form-control" name="password">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Entrar</button>
                                </form>
                            </div>
                        </div>
                </div>

                <div class="col-lg-2"></div>
            </div>

            <%- include('includes/footer'); %>